{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react",
		"simple-import-sort",
		"@typescript-eslint",
		"unused-imports",
		"react-hooks"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"prettier",
		"eslint:recommended",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"rules": {
		"import/no-unresolved": "warn",
		"react/jsx-curly-brace-presence": ["error"],
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/switch-exhaustiveness-check": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"ignoreRestSiblings": true
			}
		],
		"unused-imports/no-unused-imports": "error",
		"no-unsafe-optional-chaining": "warn",
		"react/no-children-prop": "off",
		"no-constant-condition": "warn",
		"react-hooks/rules-of-hooks": "error",
		"import/order": "off",
		"sort-imports": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error"
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"parserOptions": { "project": "./tsconfig.json" },
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx", ".svg", ".mp4"]
		},
		"import/resolver": {
			"typescript": {
				"project": "./tsconfig.json"
			},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx", ".svg"]
			}
		}
	},
	"globals": {
		"console": true,
		"window": true,
		"alert": true,
		"document": true,
		"process": true,
		"localStorage": true
	}
}
